<!DOCTYPE html>
<html dir="ltr" lang="en">
	<head>
		<title>Emissions by Country</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
    <style>
        body {
          padding-top: 60px;
        }
        .title {
          margin-left: 200px;
        }
        .navbar {
          position: fixed;
          top: 0;
          width: 100%;
          z-index:1;
}

        }
        .container {
          margin-top: 20px;
        }
      img {
        width: 500px;
        height: 500px;
        border: 45px solid white;
      }
    </style>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" >Welcome to this web</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/creataccount"><span class="glyphicon glyphicon-user"></span> creat account </a></li>
					<li><a href="/log"><span class="glyphicon glyphicon-log-in"></span> Log in </a></li>
				</ul>
			</div>
		</nav>
        <h1 class="title">Emissions by Country</h1>

        <div class="container">
          <ul class="nav nav-tabs">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/countrydata">countrydata</a></li>
            <li><a href="/value">value</a></li>
          </ul>
        </div>
        <div style="padding: 20px;">
            <table class="table table-hover">

                <caption>Table</caption>
                <thead>
                    <tr>
                        <th>serialNo</th>
                        <th>country</th>
                        <th>isocode</th>
                        <th>year</th>
                    </tr>
                </thead>
                <tbody>
                                {%for data in users%}
                                <tr>
                        <td>{{data.serialNo}}</td>
                        <td>{{data.country}}</td>
                        <td>{{data.isocode}}</td>
                        <td>{{data.year}}</td>
                    </tr>

          

              {%endfor%}
                    
                </tbody>
            </table>
	</body>
</html>
